@import '../global.less';

.home {
    height: calc(100vh - 3rem);
    width: 100vw;
    background: url("./assets/home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .flex();
  }
  .home-text {
    margin-left: 40%;
    width: 15rem;
    height: auto;
    padding: 2rem 3rem;
    .flex(center,flex-star,column);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    h2 {
        font-size: 1.5rem;
      }
    h1 {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
  }
  .line {
    display: flex;
    align-items: center;
  }